<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371294517760-28h87l7kq9fk1e9bkc0hegt2ceepkoas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371294517760-28h87l7kq9fk1e9bkc0hegt2ceepkoas</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>371294517760-ucefi1600nq29eotinfg936jhhe7s5vo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd3qSYXBYYA5B5v4LbO53VrVGCrrEU9T8</string>
	<key>GCM_SENDER_ID</key>
	<string>371294517760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>grocery-shop-app-2d89b</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-shop-app-2d89b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371294517760:ios:23d0602e662e46652cf6e5</string>
</dict>
</plist>